.map-property-popup {
	min-width: 200px;
	max-width: 400px;

	h3 {
		font-size: var(--rentfetch-font-size-large);
		margin: 0 0 15px;
		color: var(--rentfetch-dark);

		&:last-child {
			margin-bottom: 0;
		}
	}

	p.city-state {
		font-size: var(--rentfetch-font-size-small);
		text-transform: uppercase;
		margin: 0 0 5px;
		color: var(--rentfetch-dark);
		letter-spacing: 0.05em;
		line-height: 1;
	}
}

.gm-style-iw.gm-style-iw-c {
	border-radius: 3px;

	button.gm-ui-hover-effect {
		top: 0 !important;
		right: 0 !important;
		color: var(--rentfetch-dark) !important;
		opacity: 1 !important;
	}
}
