.has-specials-property {
	margin-top: var(--rentfetch-space-xs);
	position: relative;
	display: inline-block;
	// position: absolute;
	// left: 24px;
	// top: 24px;
	background-color: var(--rentfetch-accent-specials-background);
	z-index: 20;
	font-size: var(--rentfetch-font-size-smallest);
	line-height: 1em;
	padding: var(--rentfetch-space-xs) var(--rentfetch-space-xs) var(--rentfetch-space-xs) var(--rentfetch-space-xl);
	border-radius: 3px;

	&:before {
		content: '';
		position: absolute;
		left: 7px;
		height: 100%;
		top: 0;
		background-image: url('../images/star-gold.svg');
		display: block;
		width: 18px;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
