.row-actions {
	opacity: 1;
	/* left: auto; */
}

.wp-list-table {
	display: inline-block;
	width: auto;
	margin-bottom: -4px !important;
	max-width: 100%;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow-x: auto;
	position: relative;
	box-sizing: border-box;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.disabled {
	color: #066cd3;
	background-color: #066cd314;
}

th {
	width: 100px;
	min-width: 100px !important;
}

td#cb,
th.check-column {
	width: 30px !important;
	min-width: 30px !important;
}

th#title {
	min-width: 300px !important;
}

th#property_id {
	min-width: 80px !important;
}

th#floorplan_source {
	min-width: 120px !important;
}

th#manual_images {
	min-width: 150px !important;
}

th#floorplan_images {
	min-width: 150px !important;
}

th#floorplan_description {
	min-width: 150px !important;
	max-width: 300px !important;
}

td.floorplan_description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
	max-width: 300px !important;
	word-wrap: break-word; /* added line */
}

th#minimum_deposit {
	min-width: 150px !important;
}

th#maximum_deposit {
	min-width: 150px !important;
}

th#availability_date {
	min-width: 150px !important;
}

th#show_specials {
	min-width: 150px !important;
}

th#has_specials {
	min-width: 150px !important;
}

th#specials_override_text {
	min-width: 180px !important;
}

th#floorplan_id {
	min-width: 100px !important;
}

th#availability_url,
td.availability_url {
	max-width: 150px !important;
}

td.api_response,
th#api_response {
	width: auto !important;
	max-width: auto;
}

td.api_response .api-responses {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}

td.api_response .api-responses .api-response {
	line-height: 1.1;
}

.row-actions {
	opacity: 1;
}

#wpbody-content .quick-edit-row-post .inline-edit-col-left,
#wpbody-content .inline-edit-row-post .inline-edit-col-center {
	max-width: 300px;
}

.wp-list-table {
	display: inline-block;
	width: auto;
	margin-bottom: -4px !important;
	max-width: 100%;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow-x: auto;
	position: relative;
	box-sizing: border-box;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.disabled {
	color: #066cd3;
	background-color: #066cd314;
}

th {
	width: auto;
	min-width: 70px !important;
}

th#title {
	width: 300px !important;
}

th#property_id {
	min-width: 110px !important;
}

th#address {
	width: 150px !important;
}

th#city {
	width: 70px !important;
}

th#state {
	width: 50px !important;
}

th#zipcode {
	width: 75px !important;
}

th#latitude {
	width: 100px !important;
}

th#longitude {
	width: 100px !important;
}

th#email {
	width: 150px !important;
}

th#phone {
	width: 100px !important;
}

th#url,
td.url {
	width: 300px !important;
	max-width: 300px;
}

th#images {
	width: 200px !important;
	min-width: 100px !important;
}

th#property_source {
	min-width: 110px !important;
}

th#description,
td.description {
	width: 200px !important;
	max-width: 200px;
}

th#matterport {
	width: 80px !important;
}

th#video {
	width: 80px !important;
}

th#pets {
	width: 100px !important;
}

th#content_area {
	min-width: 200px !important;
	max-width: 200px !important;
}

td.content_area {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
	max-width: 200px !important;
}

th#synced_property_images,
td.synced_property_images {
	width: 200px !important;
	max-width: 200px;
}

td.api_response,
th#api_response {
	width: auto !important;
	max-width: auto;
}

td.api_response .api-responses {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}

td.api_response .api-responses .api-response {
	line-height: 1.1;
}

.row-actions {
	opacity: 1;
	/* left: auto; */
}

.wp-list-table {
	display: inline-block;
	width: auto;
	margin-bottom: -4px !important;
	max-width: 100%;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow-x: auto;
	position: relative;
	box-sizing: border-box;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th {
	width: 100px;
	min-width: 100px !important;
}

td#cb,
th.check-column {
	width: 30px !important;
	min-width: 30px !important;
}

th#title {
	min-width: 300px !important;
}

th#floorplan_name {
	min-width: 175px !important;
}

th#apply_online_url,
td.apply_online_url {
	max-width: 150px !important;
}

th#availability_date,
td.availability_date {
	max-width: 120px !important;
	min-width: 120px !important;
}

th#specials,
td.specials {
	max-width: 120px !important;
	min-width: 120px !important;
}

th#yardi_unit_image_urls,
td.yardi_unit_image_urls {
	max-width: 200px !important;
	min-width: 200px !important;
}

td.api_error {
	max-width: 150px !important;
}

td.api_response .api-responses {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}

/* ==========================================================================
   Colors
   ========================================================================== */
html {
  --rentfetch-white: #ffffff;
  --rentfetch-base: #f7f7f7;
  --rentfetch-base-2: #eaeaea;
  --rentfetch-base-3: #d4d4d4;
  --rentfetch-default: #999999;
  --rentfetch-dark: #000000;
  --rentfetch-accent-specials-background: #ffebb1;
  --rentfetch-accent-specials-star: #fbbc00;
  --rentfetch-accent: #086ddb;
  --rentfetch-accent-active: #1f88fa;
  --rentfetch-accent-light: #f1f6fb;
  --rentfetch-black-5-percent: rgba(0, 0, 0, 0.05);
  --rentfetch-black-7-percent: rgba(0, 0, 0, 0.07);
  --rentfetch-black-10-percent: rgba(0, 0, 0, 0.1);
  --rentfetch-black-20-percent: rgba(0, 0, 0, 0.2);
  --rentfetch-black-30-percent: rgba(0, 0, 0, 0.3);
  --rentfetch-black-40-percent: rgba(0, 0, 0, 0.4);
  --rentfetch-black-50-percent: rgba(0, 0, 0, 0.5);
  --rentfetch-black-60-percent: rgba(0, 0, 0, 0.6);
  --rentfetch-black-70-percent: rgba(0, 0, 0, 0.7);
  --rentfetch-black-80-percent: rgba(0, 0, 0, 0.8);
  --rentfetch-black-90-percent: rgba(0, 0, 0, 0.9);
  --rentfetch-white-85-percent: rgba(255, 255, 255, 0.85);
  --rentfetch-box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 12px;
  --rentfetch-box-shadow-hover: rgba(0, 0, 0, 0.12) 0px 8px 15px;
  --rentfetch-box-shadow-active: 0 0 0 5px var(--rentfetch-accent);
  --rentfetch-error: #ffe5e5;
  --rentfetch-success: #e6f4e6;
  --rentfetch-notice: #f8f8e9;
  --rentfetch-branding-contrast: #1f313b;
  --rentfetch-branding-contrast-2: #283f4b;
  --rentfetch-branding-accent: #eb6836;
  --rentfetch-branding-base: #f0f7fc;
  --rentfetch-font-size-smallest: 13px;
  --rentfetch-font-size-small: 15px;
  --rentfetch-font-size-medium: 17px;
  --rentfetch-font-size-large: 22px;
  --rentfetch-font-size-larger: 25px;
  --rentfetch-font-size-largest: 30px;
}

/* ==========================================================================
   Queries
   ========================================================================== */
pre {
  font-size: 13px;
  line-height: 1.2em;
}

body.toplevel_page_rentfetch-options {
  background-color: var(--rentfetch-branding-base);
}
body.toplevel_page_rentfetch-options .notice:not(.is-dismissible) {
  display: none;
}
body.toplevel_page_rentfetch-options #wpcontent {
  padding-left: 0;
}

#rent-fetch-wrap-page {
  margin: 0;
  position: relative;
}
#rent-fetch-wrap-page .notice {
  margin: 0;
}
#rent-fetch-wrap-page .nav-container {
  padding: 24px 24px 0;
  background: white;
  position: relative;
}
#rent-fetch-wrap-page .nav-container .rentfetch-logo {
  width: 206px;
  height: auto !important;
}
#rent-fetch-wrap-page .nav-tab-wrapper {
  border: none;
  display: flex;
  gap: 16px;
  position: relative;
  z-index: 2;
  margin-left: 231px;
  justify-content: center;
  padding-top: 0;
  margin-top: -20px;
}
#rent-fetch-wrap-page .nav-tab-wrapper a {
  border-radius: 3px 3px 0 0;
  border: 1px solid var(--rentfetch-base-3);
  font-size: var(--rentfetch-font-size-small);
  margin: 0 0 -1px 0;
  font-weight: normal;
  padding: 12px 24px;
  line-height: 100%;
  color: var(--rentfetch-branding-contrast);
  background-color: white;
  transition: 0.3s all ease;
}
#rent-fetch-wrap-page .nav-tab-wrapper a:first-of-type {
  margin-left: 0px;
}
#rent-fetch-wrap-page .nav-tab-wrapper a:focus {
  box-shadow: none;
}
#rent-fetch-wrap-page .nav-tab-wrapper a.nav-tab-active {
  background-color: var(--rentfetch-branding-base);
  color: var(--rentfetch-branding-contrast);
  border: 1px solid var(--rentfetch-base-3);
  border-bottom: none;
  margin-bottom: -1px;
}
#rent-fetch-wrap-page p.submit {
  padding-top: 0;
  padding-bottom: 0;
}
#rent-fetch-wrap-page p.submit input {
  background: #1f313b;
  border-radius: 3px;
  border: none;
  color: white;
  width: 100%;
  padding: 12px;
}
#rent-fetch-wrap-page p.submit input:hover {
  background: #375565;
}
#rent-fetch-wrap-page p.description {
  font-size: 13px;
  line-height: 110%;
}
#rent-fetch-wrap-page input {
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
#rent-fetch-wrap-page input:focus {
  box-shadow: none;
}
#rent-fetch-wrap-page input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 1px solid #555555;
  box-sizing: content-box;
  display: inline;
  height: 11px;
  min-height: 11px;
  min-width: 11px;
  position: relative;
  width: 11px;
  margin: 0;
  top: 4px;
}
#rent-fetch-wrap-page input[type=radio]::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: #369af6;
}

#rentfetch-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
}
#rentfetch-footer span {
  display: block;
}

.rf-metabox {
  padding: 15px 10px;
}
@media (max-width: 600px) {
  .rf-metabox .field {
    grid-template-columns: 1fr !important;
  }
}
.rf-metabox .field {
  display: grid;
  grid-template-columns: 250px 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 0 30px;
  margin: 0 0 30px;
  gap: 30px;
}
.rf-metabox .field:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.rf-metabox .field input[type=text],
.rf-metabox .field input[type=number],
.rf-metabox .field textarea {
  display: block;
  width: 100%;
}
.rf-metabox .field .column {
  display: block;
}
.rf-metabox .field label {
  font-weight: 600;
  color: black;
  width: 100%;
  padding: 6px 0;
  line-height: 1.4;
  display: block;
}
.rf-metabox .field ul.checkboxes {
  margin: 0;
  padding: 0;
}
.rf-metabox .field ul.checkboxes li.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.rf-metabox .field ul.checkboxes li.checkbox label {
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: inherit;
}
.rf-metabox .field ul.checkboxes li.checkbox input {
  display: block;
  margin: 3px 0 0;
}
.rf-metabox .columns {
  display: grid;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 0 30px;
  margin: 0 0 30px;
}
.rf-metabox .columns .field {
  display: block;
}
.rf-metabox .columns:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
@media (min-width: 600px) {
  .rf-metabox .columns.columns-2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .rf-metabox .columns.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .rf-metabox .columns.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .rf-metabox .columns.columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.rf-metabox .columns .field {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}

/* ==========================================================================
   Galleries container
   ========================================================================== */
.rf-metabox #gallery-container .gallery-image {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.rf-metabox #gallery-container .gallery-image button.remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
}

.rf-metabox .property_images,
.rf-metabox .floorplan_images {
  display: grid;
  grid-gap: 5px;
}
@media (min-width: 600px) {
  .rf-metabox .property_images,
  .rf-metabox .floorplan_images {
    grid-template-columns: repeat(auto-fit, 150px);
  }
}
@media (max-width: 600px) {
  .rf-metabox .property_images,
  .rf-metabox .floorplan_images {
    grid-template-columns: repeat(auto-fit, 100px);
  }
}
.rf-metabox .property_images .property-image,
.rf-metabox .property_images .floorplan-image,
.rf-metabox .floorplan_images .property-image,
.rf-metabox .floorplan_images .floorplan-image {
  position: relative;
  display: inline-block;
  height: 82px;
}
.rf-metabox .property_images .property-image a.download,
.rf-metabox .property_images .floorplan-image a.download,
.rf-metabox .floorplan_images .property-image a.download,
.rf-metabox .floorplan_images .floorplan-image a.download {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #efefef;
  border: 1px solid #767676;
  color: black;
  z-index: 5;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px 6px;
  line-height: 1;
}
.rf-metabox .property_images .property-image a.download:hover,
.rf-metabox .property_images .floorplan-image a.download:hover,
.rf-metabox .floorplan_images .property-image a.download:hover,
.rf-metabox .floorplan_images .floorplan-image a.download:hover {
  background-color: #dcdcdc;
  border-color: black;
}
.rf-metabox .property_images .property-image img,
.rf-metabox .property_images .floorplan-image img,
.rf-metabox .floorplan_images .property-image img,
.rf-metabox .floorplan_images .floorplan-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

/* ==========================================================================
   Subnavigation
   ========================================================================== */
.rent-fetch-options-sticky-wrap {
  position: sticky;
  top: 56px;
}

ul.rent-fetch-options-submenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 48px 0 0;
}
ul.rent-fetch-options-submenu li {
  list-style: none;
  display: block;
  padding: 0 0 16px;
  margin: 0 0 16px;
  border-bottom: 1px solid var(--rentfetch-base-3);
  line-height: 1;
}
ul.rent-fetch-options-submenu li:last-child {
  border-bottom: none;
}
ul.rent-fetch-options-submenu li a {
  font-size: var(--rentfetch-font-size-small);
  color: var(--rentfetch-branding-contrast);
  text-decoration: none;
  text-align: left;
  line-height: 1;
  display: block;
  box-shadow: none !important;
}
ul.rent-fetch-options-submenu li a:hover, ul.rent-fetch-options-submenu li a.tab-active, ul.rent-fetch-options-submenu li a:focus {
  text-decoration: underline;
}
.options-container {
  display: grid;
  gap: 0;
  grid-template-columns: 255px 1fr;
  border-top: 1px solid var(--rentfetch-base-3);
  border-bottom: 1px solid var(--rentfetch-base-3);
}
.options-container .container {
  padding: 60px 25px;
  margin: 0 auto;
}
.options-container .header {
  margin-bottom: 24px;
}
.options-container .header .title {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 18px;
}
.options-container .header .description {
  font-size: 13px;
  line-height: 20px;
  color: black;
}
.options-container .rent-fetch-options-nav-wrap {
  padding: 24px;
  border-right: 1px solid var(--rentfetch-base-3);
  background-color: white;
}
.options-container p.submit {
  margin: 0 0 24px 0 !important;
}
.options-container .container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}
.options-container .container .separator {
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

/* ==========================================================================
  Header
   ========================================================================== */
form.rent-fetch-options {
  position: relative;
}
form.rent-fetch-options .top-right-submit {
  position: absolute;
  top: 0;
  right: 0;
}
form.rent-fetch-options p.submit {
  margin: 0;
}

/* ==========================================================================
	Base rows
   ========================================================================== */
form.rent-fetch-options .row,
.shortcodes-container .row {
  background: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
form.rent-fetch-options .row .section,
form.rent-fetch-options .row .header,
.shortcodes-container .row .section,
.shortcodes-container .row .header {
  padding: 24px;
  width: 100%;
}
form.rent-fetch-options .row .section p.description,
.shortcodes-container .row .section p.description {
  line-height: 20px;
  color: black;
}
form.rent-fetch-options .row .header,
.shortcodes-container .row .header {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  margin: 0;
}
form.rent-fetch-options .row .section:first-child,
.shortcodes-container .row .section:first-child {
  padding-bottom: 0;
}
form.rent-fetch-options .row .section:first-child label,
.shortcodes-container .row .section:first-child label {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}
form.rent-fetch-options .row .column,
.shortcodes-container .row .column {
  box-sizing: border-box;
  padding: 24px;
  max-width: 50%;
  width: 50%;
}
form.rent-fetch-options .rows,
.shortcodes-container .rows {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
form.rent-fetch-options .rows .row,
.shortcodes-container .rows .row {
  margin-bottom: 0;
}
form.rent-fetch-options .rows .row .section,
.shortcodes-container .rows .row .section {
  padding: 0 24px;
}
form.rent-fetch-options .rows .row .section:first-child,
.shortcodes-container .rows .row .section:first-child {
  padding-top: 24px;
}
form.rent-fetch-options label,
.shortcodes-container label {
  font-size: 14px;
}
form.rent-fetch-options ul.radio,
form.rent-fetch-options ul.checkboxes,
.shortcodes-container ul.radio,
.shortcodes-container ul.checkboxes {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form.rent-fetch-options ul.radio li,
form.rent-fetch-options ul.checkboxes li,
.shortcodes-container ul.radio li,
.shortcodes-container ul.checkboxes li {
  margin: 0;
  margin-bottom: 2px;
}
form.rent-fetch-options ul.radio label,
form.rent-fetch-options ul.checkboxes label,
.shortcodes-container ul.radio label,
.shortcodes-container ul.checkboxes label {
  align-items: center;
  color: black;
  display: flex;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 14px;
  position: relative;
}
form.rent-fetch-options ul.radio label:has(input[type=checkbox]) input,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox]) input,
.shortcodes-container ul.radio label:has(input[type=checkbox]) input,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox]) input {
  visibility: hidden;
}
form.rent-fetch-options ul.radio label:has(input[type=checkbox]):has(input:checked)::before,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox]):has(input:checked)::before,
.shortcodes-container ul.radio label:has(input[type=checkbox]):has(input:checked)::before,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox]):has(input:checked)::before {
  background: var(--rentfetch-branding-contrast);
}
form.rent-fetch-options ul.radio label:has(input[type=checkbox]):has(input:checked)::after,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox]):has(input:checked)::after,
.shortcodes-container ul.radio label:has(input[type=checkbox]):has(input:checked)::after,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox]):has(input:checked)::after {
  transform: translateX(12px);
}
form.rent-fetch-options ul.radio label:has(input[type=checkbox])::after, form.rent-fetch-options ul.radio label:has(input[type=checkbox])::before,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox])::after,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox])::before,
.shortcodes-container ul.radio label:has(input[type=checkbox])::after,
.shortcodes-container ul.radio label:has(input[type=checkbox])::before,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox])::after,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox])::before {
  content: "";
  cursor: pointer;
  display: flex;
  position: absolute;
  background: #afafaf;
  left: 0;
  height: 16px;
  width: 26px;
  border-radius: 12px;
  align-items: center;
  transition: all 250ms ease-in-out;
}
form.rent-fetch-options ul.radio label:has(input[type=checkbox])::after,
form.rent-fetch-options ul.checkboxes label:has(input[type=checkbox])::after,
.shortcodes-container ul.radio label:has(input[type=checkbox])::after,
.shortcodes-container ul.checkboxes label:has(input[type=checkbox])::after {
  transform: translateX(2px);
  height: 12px;
  width: 12px;
  background: white;
}
form.rent-fetch-options ul.radio label.checkbox-right,
form.rent-fetch-options ul.checkboxes label.checkbox-right,
.shortcodes-container ul.radio label.checkbox-right,
.shortcodes-container ul.checkboxes label.checkbox-right {
  padding: 0;
  display: flex;
}
form.rent-fetch-options ul.radio label.checkbox-right input,
form.rent-fetch-options ul.checkboxes label.checkbox-right input,
.shortcodes-container ul.radio label.checkbox-right input,
.shortcodes-container ul.checkboxes label.checkbox-right input {
  display: none;
}
form.rent-fetch-options ul.radio label.checkbox-right::after, form.rent-fetch-options ul.radio label.checkbox-right::before,
form.rent-fetch-options ul.checkboxes label.checkbox-right::after,
form.rent-fetch-options ul.checkboxes label.checkbox-right::before,
.shortcodes-container ul.radio label.checkbox-right::after,
.shortcodes-container ul.radio label.checkbox-right::before,
.shortcodes-container ul.checkboxes label.checkbox-right::after,
.shortcodes-container ul.checkboxes label.checkbox-right::before {
  left: unset !important;
  right: -10px;
}
form.rent-fetch-options ul.radio label.checkbox-right::after,
form.rent-fetch-options ul.checkboxes label.checkbox-right::after,
.shortcodes-container ul.radio label.checkbox-right::after,
.shortcodes-container ul.checkboxes label.checkbox-right::after {
  transform: translateX(-12px) !important;
}
form.rent-fetch-options ul.radio label.checkbox-right:has(input:checked)::after,
form.rent-fetch-options ul.checkboxes label.checkbox-right:has(input:checked)::after,
.shortcodes-container ul.radio label.checkbox-right:has(input:checked)::after,
.shortcodes-container ul.checkboxes label.checkbox-right:has(input:checked)::after {
  transform: translateX(-2px) !important;
}
form.rent-fetch-options ul.radio label,
.shortcodes-container ul.radio label {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  gap: 8px;
  font-size: 13px;
  color: black;
  font-weight: 400;
}
form.rent-fetch-options ul.radios label,
.shortcodes-container ul.radios label {
  display: flex;
  align-items: center;
  gap: 8px;
}
form.rent-fetch-options ul.radios label input,
.shortcodes-container ul.radios label input {
  top: 0 !important;
}
form.rent-fetch-options .white-box,
.shortcodes-container .white-box {
  padding: 15px;
  border: 1px solid #cdd0d3;
  background-color: white;
  margin-bottom: -1px;
}
form.rent-fetch-options .white-box label,
.shortcodes-container .white-box label {
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}
form.rent-fetch-options .white-box label:last-child,
.shortcodes-container .white-box label:last-child {
  margin-bottom: 0;
}
form.rent-fetch-options .white-box p.description:last-child,
.shortcodes-container .white-box p.description:last-child {
  margin-bottom: 0;
}
form.rent-fetch-options .white-box p.subhed,
.shortcodes-container .white-box p.subhed {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
}
form.rent-fetch-options input[type=text],
form.rent-fetch-options input[type=url],
form.rent-fetch-options input[type=number],
form.rent-fetch-options select,
.shortcodes-container input[type=text],
.shortcodes-container input[type=url],
.shortcodes-container input[type=number],
.shortcodes-container select {
  background: #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-2 {
  padding-top: 16px;
}

#rent-fetch-floorplans-page .white-box {
  border: none;
  padding: 0;
  padding-top: 24px;
}

#floorplans-buttons-section .row {
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid #e6e6e6;
}
#floorplans-buttons-section .row:first-of-type {
  border-radius: 24px 24px 0 0;
}
#floorplans-buttons-section .row:last-of-type {
  border-radius: 0 0 24px 24px;
  margin-bottom: 24px;
  border-bottom: none;
  padding-bottom: 20px;
}

.rent-fetch_page_rentfetch-shortcodes span.shortcode,
.container.shortcodes span.shortcode {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 8px 15px;
  position: relative;
  transition: 0.3s all ease;
}
.rent-fetch_page_rentfetch-shortcodes span.shortcode:hover,
.container.shortcodes span.shortcode:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.rent-fetch_page_rentfetch-shortcodes span.shortcode:before,
.container.shortcodes span.shortcode:before {
  transition: 0.3 sll all ease;
  opacity: 0;
}
.rent-fetch_page_rentfetch-shortcodes span.shortcode.copied:before,
.container.shortcodes span.shortcode.copied:before {
  position: absolute;
  inset: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  padding-top: 3px;
}
.rent-fetch_page_rentfetch-shortcodes h2,
.container.shortcodes h2 {
  font-size: 20px;
  margin-top: 0;
}

#rent-fetch-shortcodes-page .separator {
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
