.properties-simple-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.properties.type-properties {
    margin: 0;
    position: relative;
    box-shadow: 3px 3px 10px 0 var(--rentfetch-black-5-percent);
    background-color: var(--rentfetch-white);

    .overlay {
        position: absolute;
        inset: 0;
        cursor: pointer;
        z-index: 5;
        transition: 0.5s box-shadow ease;
    }

    &:hover .overlay {
        box-shadow: 0 0 0 5px var(--rentfetch-black-10-percent);
    }

    .property-single-image-wrap {
        height: 0;
        padding-top: 56.25%;
        position: relative;

        img.property-single-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
        }
    }

    .property-content {
        padding: 25px;

        h3 {
            margin-bottom: 5px;
            font-size: var(--rentfetch-font-size-large);
            color: var(--rentfetch-dark);
        }

        p {
            color: var(--rentfetch-dark);
            font-size: var(--rentfetch-font-size-medium);
            line-height: 1.2;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
