form.minisearch {
	padding: var(--rentfetch-space-md);
	background-color: var(--rentfetch-base);
	display: inline-block;
	border-radius: 3px;

	@include mobile {
		width: 100%;
	}

	.filters-wrap {
		margin-bottom: 0;

		#featured-filters {
			gap: var(--rentfetch-space-xs) 0;

			@include mobile {
				grid-template-columns: 1fr;
			}

			fieldset {
				@include mobile {
					display: block;
					margin: 0;
					width: 100%;
				}

				> button {
					@include mobile {
						width: 100%;
						text-align: left;
						background-color: rgba(black, 0.03);
						border-radius: 3px;
						&::after {
							position: absolute;
							right: var(--rentfetch-space-md);
						}
					}
				}
			}

			fieldset.text-based-search {
				width: auto;

				@include notmobile {
					margin-right: 0;
				}
			}

			button#minisearch-submit {
				margin-left: var(--rentfetch-space-lg);
				position: relative;
				padding: var(--rentfetch-space-md) 43px var(--rentfetch-space-md) var(--rentfetch-space-lg);
				border: none;
				border-radius: 3px;
				background-color: var(--rentfetch-accent);
				color: white;
				cursor: pointer;

				@include notdesktop {
					margin: 0;
				}

				@include mobile {
					padding: var(--rentfetch-space-md);
				}

				&:hover {
					background-color: var(--rentfetch-accent-active);
					color: white;
				}

				&:after {
					font-family: 'dashicons';
					content: '\f344';
					margin-left: var(--rentfetch-space-2xs);
					position: absolute;
					right: var(--rentfetch-space-md);
					top: 50%;
					transform: translateY(-50%);

					@include mobile {
						display: none;
					}
				}
			}
		}
	}
}
