#subnav {
	// position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 1px solid var(--rentfetch-base-2);

	ul.subnav {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: var(--rentfetch-font-size-medium);

		@include mobile {
			display: none;
		}

		li {
			margin: 0;
			padding: 0;
			display: inline-block;

			@include mobile {
				display: block;
			}

			a {
				display: block;
				position: static;
				padding: var(--rentfetch-space-sm) var(--rentfetch-space-lg);
				text-decoration: none;
				color: var(--rentfetch-dark);
			}
		}

		&.active {
			display: block;
		}
	}

	.toggle-subnav {
		display: none;
		background-color: white;
		text-align: center;
		padding: var(--rentfetch-space-sm) var(--rentfetch-space-lg);
		position: static;
		line-height: 1;
		color: var(--rentfetch-dark);
		font-size: var(--rentfetch-font-size-medium);
		text-decoration: none;
		margin: 0;
		position: relative;

		.dashicons {
			font-size: var(--rentfetch-font-size-medium);
			position: absolute;
			transition: 0.3s all ease;
			margin-left: var(--rentfetch-space-2xs);
		}

		&.open {
			background-color: var(--rentfetch-base);

			.dashicons {
				transform: rotate(180deg);
			}
		}

		@include mobile {
			display: block;
		}
	}
}

body.admin-bar {
	#subnav {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}
}
