body.toplevel_page_rentfetch-options {
	background-color: var(--rentfetch-branding-base);

	.notice:not(.is-dismissible) {
		display: none;
	}

	#wpcontent {
		padding-left: 0;
	}
}

#rent-fetch-wrap-page {
	margin: 0;
	position: relative;

	a.rentfetch-logo-link,
	a.rentfetch-logo-link:hover,
	a.rentfetch-logo-link:focus {
		display: inline-block;
		box-shadow: none;
	}

	.notice {
		margin: 0;
	}

	.nav-container {
		padding: 24px 24px 0;
		background: white;
		position: relative;

		.rentfetch-logo {
			width: 206px;
			height: auto !important;
		}

		// &::before {
		// 	content: '';
		// 	background: white;
		// 	display: block;
		// 	height: 100%;
		// 	width: 24px;
		// 	position: absolute;
		// 	left: -24px;
		// 	top: 0;
		// 	z-index: 1;
		// 	border-top: 1px solid var(--rentfetch-base-3);
		// }
	}

	.nav-tab-wrapper {
		border: none;
		display: flex;
		gap: 16px;
		position: relative;
		z-index: 2;
		margin-left: 231px;
		justify-content: center;
		padding-top: 0;
		margin-top: -20px;

		a {
			border-radius: 3px 3px 0 0;
			border: 1px solid var(--rentfetch-base-3);
			font-size: var(--rentfetch-font-size-small);
			margin: 0 0 -1px 0;
			font-weight: normal;
			padding: 12px 24px;
			line-height: 100%;
			color: var(--rentfetch-branding-contrast);
			background-color: white;
			transition: 0.3s all ease;

			&:first-of-type {
				margin-left: 0px;
			}

			&:focus {
				box-shadow: none;
			}

			&.nav-tab-active {
				background-color: var(--rentfetch-branding-base);
				color: var(--rentfetch-branding-contrast);
				border: 1px solid var(--rentfetch-base-3);
				border-bottom: none;
				margin-bottom: -1px;
			}
		}
	}

	p.submit {
		padding-top: 0;
		padding-bottom: 0;

		input {
			background: #1f313b;
			border-radius: 3px;
			border: none;
			color: white;
			width: 100%;
			padding: 12px;
			// font-size: 13px;
			// line-height: 100%;
			// padding: 0px 16px;
			// font-weight: 400;

			&:hover {
				background: #375565;
			}
		}
	}

	// p.description {
	// 	font-size: 13px;
	// 	line-height: 110%;
	// }

	input {
		border: 1px solid #c3c3c3;
		border-radius: 2px;

		&:focus {
			box-shadow: none;
		}
	}

	input[type='radio'] {
		appearance: none;
		border-radius: 50%;
		border: 1px solid #555555;
		box-sizing: content-box;
		display: inline;
		height: 11px;
		min-height: 11px;
		min-width: 11px;
		position: relative;
		width: 11px;
		margin: 0;
		top: 4px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			margin: 0;
			border: 1px solid white;
			box-sizing: border-box;
			background-color: #369af6;
		}
	}
}

#rentfetch-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 6px;
	font-weight: 600;
	font-size: 16px;

	span {
		display: block;
	}
}
