.rentfetch-before-floorplans-grid-search-property-fees-notes {
	margin-bottom: var(--rentfetch-space-xl);

	@include mobile {
		margin-bottom: var(--rentfetch-space-md);
	}

	p {
		font-size: var(--rentfetch-font-size-small);
	}
}

.rentfetch-after-floorplans-grid-search-property-fees-embed-wrapper {
	margin-top: var(--rentfetch-space-3xl);

	@include mobile {
		margin-top: var(--rentfetch-space-lg);
	}
}
