.floorplangrid .filters {
	text-align: center;
	margin-bottom: var(--rentfetch-space-xl);

	li {
		list-style: none;
		margin: var(--rentfetch-space-2xs);
		display: inline-block;

		@include mobile {
			width: 100%;
			display: block;
			margin: var(--rentfetch-space-2xs) 0;
		}
	}

	a {
		padding: var(--rentfetch-space-xs) var(--rentfetch-space-lg);
		// font-size: 14px;
		background-color: #111;
		color: white;
		text-decoration: none;
		transition: 0.3s all ease;
		border-radius: 3px;
		display: inline-block;

		@include mobile {
			width: 100%;
			display: block;
		}

		&.active {
			background-color: rgba(#111, 0.7);
		}
	}
}
