body.floorplans-template-default {
    .site-content {
        display: block;
    }
    // .site-inner {
    //     padding-left: 0;
    //     padding-right: 0;
    //     width: 100%;
    //     max-width: 100%;
    //     margin-bottom: 0;
    // }

    .single-floorplans-container-outer {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding: 60px 25px;

        .single-floorplans-container-inner {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .current-floorplan-info {
        display: grid;
        grid-template-columns: 4fr 6fr;
        gap: 60px;

        .images-column {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
