.rentfetch-gform {
    display: none;
}

.floorplan-in-archive {
    margin-bottom: 30px;

    .floorplans {
        margin: 0;
        padding: 15px 0;
        margin-bottom: 10px;

        &:first-child {
            border-top: none;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .floorplan-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            align-items: flex-start;

            > * {
                margin-bottom: 15px;
            }
        }

        .floorplan-images-wrap {
            width: 300px;
            min-width: 300px;
            margin-right: 40px;
            position: relative;

            .floorplan-slide {
                height: 200px;
            }
        }

        .floorplan-content {
            width: 100%;
        }

        .floorplan-rent-range {
            width: 100%;
        }

        @include mobile {
            flex-flow: column;
        }

        @include notmobile {
            .floorplan-rent-range {
                text-align: right;

                .floorplan-buttons {
                    text-align: right;
                }

                .button {
                    margin: 5px 0 5px 10px;
                    text-align: center;
                }
            }
        }

        @include mobile {
            .floorplan-rent-range .button {
                margin: 5px 0;
            }
        }
    }

    p {
        margin-bottom: 5px;
        line-height: 1.4em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p.rent_range {
        font-size: 25px;
        font-weight: bold;
    }

    h3 {
        margin-bottom: 5px;
    }

    p.admin-data {
        font-size: 14px;
        padding-top: 10px;

        span {
            display: block;
        }
    }
}
